@use "../mixins" as mixins;

.badger-accordion {
    &__trigger {
        display: flex;
        column-gap: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 25px 30px;
        border-radius: 18px;
        background-color: #fff;
        cursor: pointer;
        transition: border-radius 0.1s;

        &-title {
            font-size: 24px;
            font-weight: 500;

            @include mixins.bp('mobile') {
                font-size: 19px;
            }
        }

        &-icon {
            width: 10px;
            height: 10px;
            transition: transform 0.3s;
            flex-shrink: 0;
        }

        &.-ba-is-active {
            .badger-accordion__trigger-icon {
                transform: scale(-1, -1);
            }

            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__panel {
        position: relative;

        //&:before {
        //    content: '';
        //    position: absolute;
        //    bottom: -100%;
        //    top: -15px;
        //    left: 0;
        //    height: 15px;
        //    width: 100%;
        //    background-color: #fff;
        //    opacity: 0;
        //    visibility: hidden;
        //    transition: opacity 0.3s, visibility 0.3s;
        //}
        //
        //&.-ba-is-active {
        //    &:before {
        //        opacity: 1;
        //        visibility: visible;
        //    }
        //}

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &-inner {
            padding-right: 30px;
            padding-left: 30px;
            padding-bottom: 20px;
            background-color: #fff;
            overflow: hidden;
            border-bottom-right-radius: 18px;
            border-bottom-left-radius: 18px;
        }

        &.-ba-is-hidden {
            max-height: 0 !important;
            visibility: hidden;
        }
    }

    &--initialized {
        .badger-accordion__panel {
            transition: max-height ease-in-out 0.3s;
        }
    }
}


