@use "../mixins" as mixins;
@use "../variables" as variables;

.footer {
    background: linear-gradient(45deg,rgba(14, 14, 14, 1) 0%, rgba(28, 29, 29, 1) 67%, rgba(14, 14, 14, 1) 100%);
    color: #fff;

    a {
        color: inherit;
        text-decoration: none;
    }

    &__title {
        padding-top: 58px;
        padding-bottom: 58px;

        @include mixins.bp('mobile') {
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }

    &__slider {
        display: block;
        overflow: hidden;
        background-color: #1E558E;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        padding-top: 20px;
        padding-bottom: 20px;

        &-slide {
            width: 25% !important;

            @include mixins.bp('tablet') {
                width: 35% !important;
            }

            @include mixins.bp('mobile') {
                width: 40% !important;
            }

            @include mixins.bp('mobile-sm') {
                width: 80% !important;
            }
        }

        &-item {
            font-size: 20px;
            display: flex;
            column-gap: 16px;
            align-items: center;
            text-transform: uppercase;
            font-weight: 500;
            font-family: variables.$unbounded-font;

            @include mixins.bp('mobile') {
                font-size: 16px;
            }

            svg {
                width: 15px;
                height: 15px;
                transform: rotate(-45deg);
            }
        }
    }

    &__contacts {
        display: flex;
        column-gap: 30px;
        align-items: self-start;
        justify-content: space-between;
        padding-top: 44px;
        padding-bottom: 44px;
        border-top: 1px solid #222222;
        border-bottom: 1px solid #222222;

        @include mixins.bp('mobile') {
            flex-direction: column;
            row-gap: 35px;
            padding-top: 35px;
            padding-bottom: 35px;
        }

        &-social {
            display: flex;
            column-gap: 6px;
        }
    }

    &__address {
        address {
            font-style: normal;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        &-title {
            margin-bottom: 10px;
        }

        &-location {
            color: #A7ACC2;
            opacity: 0.5;
        }

        &-tels {
            display: flex;
            column-gap: 10px;

            @include mixins.bp('mobile') {
                font-size: 14px;
            }
        }
    }

    &__menus {
        display: flex;
        flex-direction: column;
        row-gap: 70px;

        @include mixins.bp('mobile') {
            row-gap: 35px;
        }
    }

    &__menu {
        &-title {
            color: #A7ACC2;
            margin-bottom: 20px;
        }

        &-list {
            display: flex;

            &--row {
                column-gap: 22px;
                row-gap: 15px;
                flex-wrap: wrap;

                @include mixins.bp('mobile') {
                    flex-wrap: wrap;

                    .footer__menu-list-item {
                        width: 100%;
                    }
                }
            }

            &--col {
                flex-direction: column;
                row-gap: 22px;
            }

            &-item-link {
                font-size: 14px;
                display: flex;
                align-items: center;
                column-gap: 4px;
                color: inherit;
                text-decoration: none;

                svg {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #222222;

        @include mixins.bp('mobile') {
            flex-direction: column;
            row-gap: 35px;
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }

    &__apps {
        flex-shrink: 0;
        padding: 30px 15px;
        background-color: #121518;
        border-radius: 18px;
        display: flex;
        row-gap: 50px;
        flex-direction: column;
        align-items: center;

        &-qr {
            width: 80%;
            height: auto;

            @include mixins.bp('mobile') {
                display: none;
            }
        }

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 8px;

            @include mixins.bp('mobile') {
                flex-direction: column;
                row-gap: 8px;
            }
        }
    }

    &__copyright {
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 30px;
        color: rgba(255, 255, 255, 0.4);
        padding-top: 40px;
        padding-bottom: 40px;

        @include mixins.bp('mobile') {
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}