<div class="container container--lg container--p-none">
    <footer class="footer">
            <a href="#" class="footer__slider">
                <div class="swiper js-footer-slider">
                    <div class="swiper-wrapper partners-slider__wrapper">
                        <div class="swiper-slide footer__slider-slide">
                            <div class="footer__slider-item">Зв'язатися з нами {{mixins.iconSvgMono('arrow')}}</div>
                        </div>
                        <div class="swiper-slide footer__slider-slide">
                            <div class="footer__slider-item">Зв'язатися з нами {{mixins.iconSvgMono('arrow')}}</div>
                        </div>
                        <div class="swiper-slide footer__slider-slide">
                            <div class="footer__slider-item">Зв'язатися з нами {{mixins.iconSvgMono('arrow')}}</div>
                        </div>
                        <div class="swiper-slide footer__slider-slide">
                            <div class="footer__slider-item">Зв'язатися з нами {{mixins.iconSvgMono('arrow')}}</div>
                        </div>
                        <div class="swiper-slide footer__slider-slide">
                            <div class="footer__slider-item">Зв'язатися з нами {{mixins.iconSvgMono('arrow')}}</div>
                        </div>
                        <div class="swiper-slide footer__slider-slide">
                            <div class="footer__slider-item">Зв'язатися з нами {{mixins.iconSvgMono('arrow')}}</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="container">
                <div class="footer__title">
                    <img src="./img/svg/toka-network.svg" alt="Toka network">
                </div>
                <div class="footer__contacts">
                    <div class="footer__address">
                        <p class="footer__address-title f-w--700">Офіс ТОКА</p>

                        <address>
                            <span class="footer__address-location">м.Київ, Дніпровська набережна, 13 | Пн-Пт: 9:00-18:00; Сб-Нд: Вихідний</span>
                            <div class="footer__address-tels">
                                <a href="tel:+380442226688">+38 044 222 66 88</a>
                                <a href="tel:+380672256688">+38 067 225 66 88</a>
                            </div>
                            <a href="mailto:info@toka.energy">info@toka.energy</a>
                        </address>
                    </div>

                    <div class="footer__contacts-social">
                        <a href="#" class="social-link social-link--white">{{mixins.iconSvgMono('linkedin')}}</a>
                        <a href="#" class="social-link social-link--white">{{mixins.iconSvgMono('youtube')}}</a>
                        <a href="#" class="social-link social-link--white">{{mixins.iconSvgMono('instagram')}}</a>
                        <a href="#" class="social-link social-link--white">{{mixins.iconSvgMono('facebook')}}</a>
                    </div>
                </div>
                <div class="footer__info">
                    <div class="footer__menus">
                        <div class="footer__menu">
                            <p class="footer__menu-title">Меню</p>
                            <ul class="footer__menu-list footer__menu-list--row">
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Магазин</a></li>
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Бізнесу</a></li>
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Водіям</a></li>
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Питання та  відповіді</a></li>
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Про ТОКА</a></li>
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Мапа ЕЗК</a></li>
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Блог</a></li>
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Контакти</a></li>
                            </ul>
                        </div>
                        <div class="footer__menu">
                            <p class="footer__menu-title">Наші продукти</p>
                            <ul class="footer__menu-list footer__menu-list--col">
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Покупка електромобіля {{mixins.iconSvgMono('arrow')}}</a></li>
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Прокат електромобіля {{mixins.iconSvgMono('arrow')}}</a></li>
                                <li class="footer__menu-list-item"><a href="" class="footer__menu-list-item-link">Електромобіль у лізинг {{mixins.iconSvgMono('arrow')}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__apps">
                        <img src="./img/png/qr.png" alt="Qr app" class="footer__apps-qr">
                        <div class="footer__apps-buttons">
                            {{mixins.appButton('android')}}
                            {{mixins.appButton()}}
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">
                    <a href="#">TOKA Network</a>
                    <a href="#">Privacy & Cookie Policy</a>
                    <a href="#">All rights reserved</a>
                </div>
            </div>
    </footer>
</div>
