.c--white {
    color: #fff;
}

.c--gray {
    color: #C0C0C0
}

.c--blue {
    color: #1E558E;
}

.f-w--200 {
    font-weight: 200;
}

.f-w--600 {
    font-weight: 600;
}

.f-w--300 {
    font-weight: 300;
}

.f-w--500 {
    font-weight: 500;
}

.f-w--700 {
    font-weight: 700;
}

.t-t--uppercase {
    text-transform: uppercase;
}

.t-a--center {
    text-align: center;
}

.l-h--140 {
    line-height: 1.4;
}